/*Del documento Ejercicios de práctica.docx*/

USE [CentroMedico]
GO
/****** Object:  UserDefinedFunction [dbo].[listaPaises]    Script Date: 12/1/2022 11:31:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

INSERT INTO dbo.Pais VALUES ('ARG', 'ARGENTINA')
INSERT INTO dbo.Pais VALUES ('ARU', 'ARUBA')
INSERT INTO dbo.Pais VALUES ('BOL', 'BOLIVIA')

SELECT * FROM dbo.Pais